/bin/
SpresenseDemo/com.microej.spresense.demo.SpresenseDemo/
SpresenseDemo/*.properties
SpresenseDemo/target~/
SpresenseDemo/.sonar/
SpresenseDemo/launches/*.properties
SpresenseDemo/src-adpgenerated/
